

.wrap{
    
    margin: auto;
    width: 100%;
    max-width: 1500px;
    display: flex;
    flex-direction: column; 
}
.section .Login_section td a {
    width: 90px;
    height: 30px;
}
.header{height: 250px;}
.header-top
{
    background-color: #e0e0e0;
   
}
.header_nav{
    height: 20%; display: flex;
    background-color: #e0e0e0;
    padding-top: 10px; 
    padding-bottom: 10px; 
    position: relative;
} 



.header_nav::before { /*상단 선 스타일*/
        content: "";
        position: absolute;
        top: -10px; /* 선의 위치 조정 */
        left: 0; 
        width: 100%; 
        height: 2px; /* 선의 두께 설정 */
        background-color: #e0e0e0; 
}
    
.header_nav div{
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    flex-grow: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;  
    
}


.header_nav div a{
    color: black;
}
.menu_item {
    margin-right: 60px; 
}


.headr_roop {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.Search_section {
    flex: 1;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section {
    width: 33%;
   
}

.Search_area {
    width: 100%;
   
}
.headr_roop {
    display: flex;
    margin-bottom: 20px; 
    
}

.section {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.Login_section {
    width: 100%;
    margin-left: 13px;
}
.header-top-section { /* 홈페이지 최상단 여백*/ 
    margin-top: 50px; 
    margin-bottom: 20px;
    position: relative;
    
}
.header-top-section::after { /*하단 선 스타일*/
    content: "";
    position: absolute;
    bottom: -10px; /* 선의 위치 조정 */
    width: 100%; 
    height: 2px; /* 선의 두께 설정 */
    background-color: #e0e0e0; 
}
.menu_logo{
    margin-right: 50px;
}
.menu_item {
    display: inline-block; 
    margin-right: 20px; 
}

.menu_item a {
    text-decoration: none; 
    display: inline-block; 
}

.menu_item:hover a {
    font-weight: bold;
    color: #1ABC9C; 
}

/*section 스타일*/
.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 400px;
}
.main_text{
    text-align: center;
    font-size: 40px;
    min-height: 50px;
   border-bottom: 3px solid #e0e0e0;;
   margin-bottom: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.main_content>div{
    border: 2px solid #1ABC9C;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    margin: bottom 50px; 
    min-height: 1200px;
    padding: 50px;
    border-radius: 10px;
}

.main_content {
    margin-bottom: 30px;
}
.footer_company {
    border-top: 4px solid #e0e0e0; 
    padding-top: 20px; 
    list-style-type: none;
}
.footer_company li{
    list-style-type: none;
}