<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectCalendarList">
	SELECT 
	       CAL_NO
	     , USER_NAME
	     , TO_CHAR(TO_DATE(START_DATE,'MM/DD/YYYY'),'YYYY-MM-DD')START_DATE
	     , TO_CHAR(TO_DATE(END_DATE,'MM/DD/YYYY'),'YYYY-MM-DD')END_DATE
	     , PHONE
	     , (SELECT USER_NAME FROM MZYM_MEMBER WHERE USER_NO = ?)WRITER
	     , CAL_TITLE
	     , CAL_CONTENT
	     , CAL_COLOR
	  FROM MZYM_CALENDAR C
	  JOIN MZYM_MEMBER USING (USER_NO)
	 WHERE CAL_TR = ?
	   AND C.STATUS = 'Y'
	</entry>

	<entry key="ptCalendarInsert">
	INSERT
	INTO MZYM_CALENDAR
	(
	  CAL_NO
	, USER_NO
	, CAL_TR
	, START_DATE
	, END_DATE
	, CAL_TITLE
	, CAL_CONTENT
	, CAL_COLOR
	, STATUS
	)
	VALUES 
	(
	  SEQ_CALNO.NEXTVAL
	, (SELECT
	          USER_NO 
	     FROM MZYM_MEMBER 
	    WHERE USER_NAME = ? 
	      AND PHONE = ?)
	, ?
	, ?
	, ?
	, ?
	, ?
	, ?
	, 'Y'
)
	</entry>


	<entry key="calendarUpdate">
	UPDATE 
	       MZYM_CALENDAR
	   SET 
	       USER_NO = (SELECT USER_NO
	                    FROM MZYM_MEMBER
	                   WHERE USER_NAME = ?
	                     AND PHONE = ?),
	       START_DATE = ?,
	       END_DATE = ?,
	       CAL_TITLE = ?,
	       CAL_CONTENT = ?,
	       CAL_COLOR = ?,
	       MODIFY_DATE = SYSDATE
	 WHERE CAL_NO = ?
	</entry>


	<entry key="calendarDelete">
	UPDATE
	        MZYM_CALENDAR
	   SET STATUS = 'N'
	 WHERE CAL_NO = ?
	</entry>


	<entry key="selectSearchList">
	SELECT 
	       CAL_NO
	     , USER_NAME
	     , TO_CHAR(TO_DATE(START_DATE,'MM/DD/YYYY'),'YYYY-MM-DD')START_DATE
	     , TO_CHAR(TO_DATE(END_DATE,'MM/DD/YYYY'),'YYYY-MM-DD')END_DATE
	     , PHONE
	     , (SELECT USER_NAME FROM MZYM_MEMBER WHERE USER_NO = ?)WRITER
	     , CAL_TITLE
	     , CAL_CONTENT
	     , CAL_COLOR
	  FROM MZYM_CALENDAR C
	  JOIN MZYM_MEMBER USING (USER_NO)
	 WHERE CAL_TR = ?
	   AND PHONE = ?
	   AND USER_NAME = ?
	   AND START_DATE BETWEEN ? AND ?
	   AND C.STATUS = 'Y'
	</entry>






</properties>