<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectCalendarList">
		SELECT
		       CAL_TR
		     , TO_CHAR(TO_DATE(START_DATE,'MM/DD/YYYY'),'YYYY-MM-DD')START_DATE
		     , TO_CHAR(TO_DATE(END_DATE,'MM/DD/YYYY'),'YYYY-MM-DD')END_DATE
		     , CAL_TITLE
		     , CAL_CONTENT
		     , CAL_COLOR
		  FROM MZYM_CALENDAR
		 WHERE USER_NO = ?
		   AND STATUS = 'Y'
	</entry>


</properties>