<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<!-- 로그인 기능-구성모 -->
<entry key="loginMember">
	SELECT
		   USER_NO
		 , USER_ID
		 , USER_PWD
		 , USER_NAME
		 , PHONE
		 , RRN
		 , EMAIL
		 , ADDRESS
		 , ENROLL_DATE
		 , MODIFY_DATE
		 , ASSIGN_TR
		 , STATUS
		  FROM MZYM_MEMBER
		 WHERE USER_ID = ?
		   AND USER_PWD = ? 
		   AND STATUS = ?
</entry>

<!-- 손수현 마이페이지 조회 -->
<entry key="selectMyPage">
	SELECT 
		   USER_NO
		 , USER_ID
		 , USER_PWD
		 , USER_NAME
		 , PHONE
		 , RRN
		 , EMAIL
		 , ADDRESS
		 , ENROLL_DATE
		 , MODIFY_DATE
		 , STATUS
	  FROM MZYM_MEMBER
	 WHERE USER_ID = ?
</entry>

<!-- 손수현 회원정보 수정 -->
<entry key="updateMyPage">
	UPDATE
	       MZYM_MEMBER
	   SET PHONE = ?
	     , EMAIL = ?
	     , ADDRESS = ?
	     , MODIFY_DATE = SYSDATE
	WHERE USER_ID = ?
</entry>

<!-- 손수현 비밀번호 수정 -->
<entry key="updatePwdMember">
	UPDATE
	      MZYM_MEMBER
	  SET USER_PWD = ?
	    , MODIFY_DATE = SYSDATE 
	WHERE USER_ID = ?
	  AND USER_PWD = ?
</entry>

<!-- 손수현 회원 탈퇴 -->
<entry key="deleteMember">
	UPDATE
	      MZYM_MEMBER
	  SET STATUS = 'N'
	    , MODIFY_DATE = SYSDATE
	WHERE USER_ID = ?
	  AND USER_PWD = ?
</entry>

<!-- 손수현 페이징 -->
<entry key="selectListCount">
	SELECT COUNT(*) COUNT
	  FROM PAYMENT
	 WHERE PAYMENT_USER = ?
</entry>

<!-- 손수현 페이징 -->
<entry key="selectList">
		SELECT *
		  FROM (
				SELECT ROWNUM RNUM, A.*
				  FROM (
						SELECT 
	                          TO_CHAR(PAYMENT_DATE, 'YYYY-MM-DD') PAYMENT_DATE
						     , PRODUCT_NAME
						     , PAYMENT_PRICE
						  FROM PAYMENT 
						  JOIN PRODUCT USING (PRODUCT_NO)
	                     WHERE PAYMENT_USER = ?
						 ORDER
						 	BY PAYMENT_DATE DESC
				 		) A
			)
	 WHERE RNUM BETWEEN ? AND ?
</entry>

<!-- 아이디 중복 체크-구성모 -->
<entry key="idCheck">
	SELECT
		   COUNT(*) COUNT
	 FROM MZYM_MEMBER
	WHERE USER_ID = ?
</entry>

<!-- 회원가입 insert-구성모 -->
<entry key="insertMember">
	INSERT
	  INTO MZYM_MEMBER
	  (
	    USER_NO
	  , USER_ID
	  , USER_PWD
	  , USER_NAME
	  , PHONE
	  , RRN
	  , EMAIL
	  , ADDRESS
	  )
	  VALUES
	  (
	    SEQ_MEMEBERNO.NEXTVAL
	  , ? <!-- 아이디 -->
	  , ? <!-- 비밀번호 -->
	  , ? <!-- 이름 -->
	  , ? <!-- 전화번호 -->
	  , ? <!-- 주민번호 -->
	  , ? <!-- 이메일 -->
	  , ? <!-- 주소 -->
	  )
</entry>

<!-- 손수현 인바디 조회 -->
<entry key="selectInbody">
	SELECT BODY_HEIGHT
		 , BODY_WEIGHT
		 , BODY_FAT
		 , REGIST_DATE
	  FROM INBODY
	 WHERE USER_NO = ?
</entry>

<!-- 구성모 아이디찾기 -->
<entry key="findId">
 	SELECT
 		USER_ID
 	 FROM MZYM_MEMBER
 	WHERE USER_NAME = ?
 	  AND PHONE = ?
 	  AND EMAIL = ?
 	  AND STATUS = 'Y'
</entry>

<!-- 비밀번호찾기 - 구성모 -->
<entry key="findPwd">
	SELECT
		   COUNT(*) COUNT
	 FROM MZYM_MEMBER
	WHERE USER_ID = ?
	  AND PHONE = ?
	  AND EMAIL = ?
	  AND STATUS = 'Y'
</entry>

<!-- 비밀번호 재설정 - 구성모 -->
<entry key="resetPwdMember">
		UPDATE
			   MZYM_MEMBER
		   SET USER_PWD = ?
		     , MODIFY_DATE = SYSDATE
		 WHERE USER_ID = ?
		   AND STATUS = 'Y'
</entry>

<!-- 손수현 결제 조회 -->
<entry key="selectPayment">
	SELECT
		   PAYMENT_NO
	     , PRODUCT_NAME
	     , PAYMENT_PRICE
	     , PAYMENT_DATE
	  FROM PAYMENT
	  JOIN PRODUCT USING (PRODUCT_NO)
	 WHERE  PAYMENT_USER = ?
</entry>

<!-- 결제내역페이징처리 - 구성모 -->
<entry key="repreSelectPayment">
	SELECT
		COUNT(*) COUNT
	FROM PAYMENT
	WHERE TO_CHAR(PAYMENT_DATE, 'YYYY-MM') = ?
</entry>

<!-- 매출조회 - 구성모 -->
<entry key="repreSaleSelect">
SELECT 
        USER_NAME
      , PRODUCT_NAME
      , PAYMENT_PRICE
      , PAYMENT_DATE
		  FROM (
				SELECT ROWNUM RNUM, A.*
				  FROM (
						SELECT
							PAYMENT_NO
						  , PRODUCT_NO
						  , PAYMENT_USER
                          , PAYMENT_PRICE
						  , TO_CHAR(PAYMENT_DATE, 'YY-MM-DD') AS PAYMENT_DATE
						FROM PAYMENT
						WHERE TO_CHAR(PAYMENT_DATE, 'YYYY-MM') = ?
				 		) A
			)
	 JOIN MZYM_MEMBER ON (PAYMENT_USER = USER_NO)
     JOIN PRODUCT USING (PRODUCT_NO)
     WHERE RNUM BETWEEN ? AND ?
</entry>

<!-- 손수현 식단관리 여러행조회 -->
<entry key="selectListFood">
	 SELECT
	      FOOD_NO
	    , FOOD_USER
	    , FOOD_DATE
	    , FOOD_CATEGORY
	    , FOOD_NAME
	    , FOOD_CAL
	    , REGIST_DATE
	 FROM FOOD F
	 JOIN MZYM_MEMBER ON (FOOD_USER = USER_NO)
	WHERE FOOD_DATE = '20240318'
	  AND FOOD_USER = ?
      AND F.STATUS = 'Y'
</entry>

<!-- 손수현 식단관리 추가 -->
<entry key="insertFood">
INSERT
      INTO FOOD
      (
         FOOD_NO
       , FOOD_USER
       , FOOD_DATE
       , FOOD_CATEGORY
       , FOOD_NAME
       , FOOD_CAL
       )
       VALUES
       (
         SEQ_FOODNO.NEXTVAL
       , ? 
       , '20240318'
       , ? 
       , ? 
       , ? 
       )
</entry>

<!-- 손수현 식단관리 삭제 -->
<entry key="deleteFood">
	UPDATE
	      FOOD
	  SET STATUS = 'N'
	WHERE FOOD_USER = ?
      AND FOOD_NO = ?
</entry>
</properties>