<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<entry key="selectMyPage">
	SELECT 
		   USER_NO
		 , USER_ID
		 , USER_PWD
		 , USER_NAME
		 , PHONE
		 , RRN
		 , EMAIL
		 , ADDRESS
		 , ENROLL_DATE
		 , MODIFY_DATE
		 , STATUS
	  FROM MZYM_MEMBER
	 WHERE USER_ID = ?
</entry>


<entry key="updateMyPage">
	UPDATE
	       MZYM_MEMBER
	   SET PHONE = ?
	     , EMAIL = ?
	     , ADDRESS = ?
	     , MODIFY_DATE = SYSDATE
	WHERE USER_ID = ?
</entry>

<entry key="updatePwdMember">
	UPDATE
	      MZYM_MEMBER
	  SET USER_PWD = ?
	    , MODIFY_DATE = SYSDATE 
	WHERE USER_ID = ?
	  AND USER_PWD = ?
</entry>

</properties>