<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<entry key="productListCount">
SELECT COUNT(*) COUNT
        FROM PRODUCT p 
</entry>

<entry key="productSelectList">
SELECT *
	FROM (
    SELECT ROWNUM RNUM, A.*
    FROM (
        SELECT 
            p.PRODUCT_NO,
			p.PRODUCT_NAME,
			p.PRODUCT_CONTENT,
			p.PRODUCT_PRICE,
			p.REGIST_DATE,
			p.COUNT,
   			p.IMAGE_URL
        FROM PRODUCT p
        WHERE P.STATUS='Y' 
        ORDER BY p.count DESC
    	) A
    )
WHERE RNUM BETWEEN ? AND ? 
</entry>

<entry key="bestProduct">
<![CDATA[
	SELECT *
	FROM (
    SELECT ROWNUM RNUM, A.*
    FROM (
        SELECT 
            p.PRODUCT_NO,
			p.PRODUCT_NAME,
			p.PRODUCT_CONTENT,
			p.PRODUCT_PRICE,
			p.REGIST_DATE,
			p.COUNT,
   			p.IMAGE_URL
        FROM PRODUCT p
        WHERE P.STATUS='Y' 
        ORDER BY p.count DESC
    	) A
	 WHERE ROWNUM <= 4
    )
	WHERE RNUM >= 1
]]>
</entry>

<entry key="increaseCount">
UPDATE 
	PRODUCT p 	
	SET p.COUNT = p.COUNT + 1
WHERE PRODUCT_NO =?
</entry>

<entry key="selectProduct">
SELECT 
     		p.product_no,
         	p.PRODUCT_NAME ,
         	p.PRODUCT_CONTENT, 
         	p.PRODUCT_PRICE,
        	p.IMAGE_URL
         FROM PRODUCT p 
      	 WHERE p.PRODUCT_NO  = ?
      	 AND P.STATUS='Y'
</entry>




</properties>