<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<entry key="selectPaymentDate">
	SELECT YEAR_MONTH
FROM (
    SELECT TO_CHAR(PAYMENT_DATE, 'YYYY-MM') AS YEAR_MONTH,
           ROW_NUMBER() OVER (PARTITION BY TO_CHAR(PAYMENT_DATE, 'YYYY-MM') ORDER BY PAYMENT_DATE DESC) AS rn
    FROM PAYMENT
) t
WHERE rn = 1
ORDER BY YEAR_MONTH DESC
</entry>

<entry key="selectlistMember">
	SELECT
		COUNT(*) COUNT
	FROM MZYM_MEMBER
	WHERE STATUS = 'Y'
</entry>

<entry key="selectlistMember">
	SELECT
		COUNT(*) COUNT
	FROM MZYM_MEMBER
	WHERE STATUS = 'Y'
</entry>

<entry key="selectlistProduct">
	SELECT
		COUNT(*) COUNT
	FROM PRODUCT
	WHERE STATUS = 'Y'
</entry>

<entry key="selectlistVideo">
	SELECT
		COUNT(*) COUNT
	FROM MZYM_VIDEO
	WHERE STATUS = 'Y'
</entry>

<entry key="selectVideo">
SELECT *
FROM (
    SELECT t.*, ROWNUM AS rnum
    FROM (
        SELECT *
        FROM MZYM_VIDEO
        WHERE STATUS = 'Y'
        ORDER BY VIDEO_NO DESC
    ) t
)
WHERE RNUM BETWEEN ? AND ?
</entry>

<entry key="selectMember">
	SELECT M.*, M2.USER_NAME AS ASSIGN_NAME
FROM (
    SELECT t.*, ROWNUM AS rnum
    FROM (
        SELECT *
        FROM MZYM_MEMBER
        WHERE STATUS = 'Y'
        ORDER BY USER_NO DESC
    ) t
) M
LEFT JOIN MZYM_MEMBER M2 ON M2.USER_NO = M.ASSIGN_TR
WHERE M.RNUM BETWEEN ? AND ?
</entry>

<entry key="updateMember">
UPDATE
		  MZYM_MEMBER
	   SET 
	   	   USER_PWD = ?
	     , USER_NAME = ?
	     , PHONE = ?
	     , RRN = ?
	     , EMAIL =?
	     , ADDRESS = ?
	     , MODIFY_DATE= SYSDATE
	 WHERE USER_NO = ?
</entry>

<entry key="deleteMember">
UPDATE
		  MZYM_MEMBER
	   SET 
	   	   STATUS = 'N'
	 WHERE USER_NO = ?
</entry>

<entry key="insertVideo">
	INSERT
	  INTO MZYM_VIDEO
	  (
	    VIDEO_NO
	  , VIDEO_TITLE
	  , LINK
	  , VIDEO_LEVEL
	  )
	  VALUES
	  (
	    SEQ_VIDEONO.NEXTVAL
	  , ?
	  , ?
	  , ?
	  )
</entry>

<entry key="updateVideo">
UPDATE
		  MZYM_VIDEO
	   SET 
	   	   VIDEO_LEVEL = ?
	     , VIDEO_TITLE = ?
	     , LINK = ?
	 WHERE VIDEO_NO = ?
</entry>

<entry key="deleteVideo">
UPDATE
		  MZYM_VIDEO
	   SET 
	   	   STATUS = 'N'
	 WHERE VIDEO_NO = ?
</entry>

<entry key="selectProduct">
SELECT *
FROM (
    SELECT t.*, ROWNUM AS rnum
    FROM (
        SELECT *
        FROM PRODUCT
        WHERE STATUS = 'Y'
        ORDER BY PRODUCT_NO DESC
    ) t
)
WHERE RNUM BETWEEN ? AND ?
</entry>

<entry key="insertProduct">
	INSERT
	  INTO PRODUCT
	  (
	    PRODUCT_NO
	  , PRODUCT_NAME
	  , IMAGE_URL
	  , PRODUCT_PRICE
	  )
	  VALUES
	  (
	    SEQ_PRODUCTNO.NEXTVAL
	  , ?
	  , ?
	  , ?
	  )
</entry>

<entry key="updateProduct">
UPDATE
		  PRODUCT
	   SET 
	   	   PRODUCT_NAME = ?
	     , PRODUCT_PRICE = ?
	     , IMAGE_URL = ?
	 WHERE PRODUCT_NO = ?
</entry>

<entry key="deleteProduct">
UPDATE
		  PRODUCT
	   SET 
	   	   STATUS = 'N'
	 WHERE PRODUCT_NO = ?
</entry>

</properties>