<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>


<entry key="selctListCount">
 SELECT COUNT(*) COUNT
        FROM MZYM_SERVICE
        WHERE STATUS = 'Y'
</entry>

<entry key="selectList">
		SELECT *
	FROM (
    SELECT ROWNUM RNUM, A.*
    FROM (
        SELECT 
            sb.SERVICE_NO,
            mm.USER_ID,
            sc.CATEGORY_NAME,
            sb.SERVICE_TITLE,
            sb.SERVICE_CONTENT,
            TO_CHAR(sb.REGIST_DATE, 'YYYY/MM/DD') REGIST_DATE,
            sb.SERVICE_TR,
            sb.SERVICE_REPEAT,
            at.FILE_PATH || at.CHANGE_NAME UPFILEURL,
        	at.FILE_NO,
        	at.STATUS FILESTATUS
        
        	
        FROM MZYM_SERVICE sb
        JOIN SERVICE_CATEGORY sc ON sb.CATEGORY_NO = sc.CATEGORY_NO
        JOIN MZYM_MEMBER mm ON sb.SERVICE_USER = mm.USER_NO
        LEFT JOIN ATTACHMENT at ON sb.SERVICE_NO = at.ATT_NO
        WHERE sb.STATUS = 'Y' 
        ORDER BY sb.SERVICE_NO DESC
    	) A
	)
	WHERE RNUM BETWEEN ? AND ?

</entry>

<entry key="selectCategoryList">
	SELECT 
	 CATEGORY_NO
	,CATEGORY_NAME
	FROM SERVICE_CATEGORY
</entry>

<entry key="selectCategoryList">
	SELECT 
	 CATEGORY_NO
	,CATEGORY_NAME
	FROM SERVICE_CATEGORY
</entry>

<entry key="insertServiceBoard">
	INSERT 
		INTO MZYM_SERVICE
		(
		SERVICE_NO,
		CATEGORY_NO,
		SERVICE_TITLE,
		SERVICE_CONTENT,
		SERVICE_USER
		)
	VALUES
	(
	SEQ_SERVICENO.NEXTVAL
	,?
	,?
	,?
	,?
	)
</entry>

<entry key="insertAttachment">
	INSERT INTO ATTACHMENT
		(
		FILE_NO
        , ATT_NO
        , ATT_CATEGORY
        , ORIGIN_NAME
        , CHANGE_NAME
        , FILE_PATH
        , UPLORD_DATE
        , STATUS
		)
		VALUES
		(
		 SEQ_ATTACHMENT.nextval
        , SEQ_SERVICENO.currval
        , 'B' 
        , ?
        , ? 
        , ? 
        , SYSDATE
        , 'Y'
		)
</entry>

<entry key="deleteServiceBoard">
		UPDATE MZYM_SERVICE 
		SET STATUS = 'N'
		WHERE SERVICE_NO = ? 
			
</entry>

<entry key="updateServiceBoard">
		UPDATE MZYM_SERVICE 
		SET SERVICE_CONTENT = ?
		WHERE SERVICE_NO = ? 
			
</entry>

<entry key="updateServiceBoard">
		UPDATE MZYM_SERVICE 
		SET SERVICE_CONTENT = ?
		WHERE SERVICE_NO = ? 
			
</entry>

<entry key="updateAttachment">
		UPDATE 
			ATTACHMENT	
			SET 
				ORIGIN_NAME = ? 
			   ,CHANGE_NAME = ? 
			   ,FILE_PATH=?	
		WHERE FILE_NO = ?
		
</entry>
	
<entry key="insertNewAttachment">
		INSERT INTO ATTACHMENT
		(
			FILE_NO,
			ATT_NO,
			ATT_CATEGORY,
			ORIGIN_NAME,
			CHANGE_NAME,
			FILE_PATH,
			STATUS
		)
		VALUES
		(
		SEQ_ATTACHMENT.nextval,
		?,
		'B',
		?,
	   	?,
	   	?,
	   	'Y'
	   	
		)
</entry>

<entry key="deleteOldAttachment">
		DELETE FROM ATTACHMENT
		WHERE 1=1
		AND ATT_NO = ?
		AND STATUS = 'N'
</entry>

<entry key="selectSerchList">
	SELECT *
	FROM (
    SELECT ROWNUM RNUM, A.*
    FROM (
        SELECT 
            sb.SERVICE_NO,
            mm.USER_ID,
            sc.CATEGORY_NAME,
            sb.SERVICE_TITLE,
            sb.SERVICE_CONTENT,
            TO_CHAR(sb.REGIST_DATE, 'YYYY/MM/DD') REGIST_DATE,
            sb.SERVICE_TR,
            sb.SERVICE_REPEAT,
            at.FILE_PATH || at.CHANGE_NAME UPFILEURL,
        	at.FILE_NO,
       		at.STATUS FILESTATUS
        	
        FROM MZYM_SERVICE sb
        JOIN SERVICE_CATEGORY sc ON sb.CATEGORY_NO = sc.CATEGORY_NO
        JOIN MZYM_MEMBER mm ON sb.SERVICE_USER = mm.USER_NO
        LEFT JOIN ATTACHMENT at ON sb.SERVICE_NO = at.ATT_NO
         WHERE sb.STATUS = 'Y'
        AND (sb.SERVICE_TITLE LIKE '%' || upper(?) || '%'

             OR sb.SERVICE_CONTENT LIKE '%' ||upper(?) || '%')
            
        ORDER BY sb.SERVICE_NO DESC
    	) A
	)
	WHERE RNUM BETWEEN ? AND ?

</entry>

<entry key="selectSerchCount">
    SELECT COUNT(*) COUNT
    FROM MZYM_SERVICE
    WHERE STATUS = 'Y'
    AND (SERVICE_TITLE LIKE '%' || upper(?) || '%'
         OR SERVICE_CONTENT LIKE '%' || upper(?) || '%') 
</entry>

<entry key="deleteServiceImg">
		UPDATE ATTACHMENT
		SET STATUS = 'N'
		WHERE File_NO = ? 
			
</entry>
<!-- <entry key="latestpostFreeBoard">
<![CDATA[
SELECT 
    SERVICE_NO,
    CATEGORY_NAME,
    SERVICE_TITLE,
    USER_ID,
    TO_CHAR(REGIST_DATE, 'YYYY/MM/DD') AS REGIST_DATE
FROM  
    (SELECT 
        sb.SERVICE_NO,
        sc.CATEGORY_NAME,
        sb.SERVICE_TITLE,
        mm.USER_ID,
        sb.REGIST_DATE,
        ROW_NUMBER() OVER (ORDER BY sb.SERVICE_NO DESC) AS RN
    FROM  
        MZYM_SERVICE sb
    JOIN 
        SERVICE_CATEGORY sc ON sb.CATEGORY_NO = sc.CATEGORY_NO
    JOIN 
        MZYM_MEMBER mm ON sb.SERVICE_USER = mm.USER_NO	
    WHERE 
        sb.STATUS = 'Y'
    )
WHERE 
    RN <= 10
]]>
</entry>-->



<!-- 김민정 고객센터 답변 등록 -->
<entry key="updateRepeat">
UPDATE MZYM_SERVICE
   SET SERVICE_REPEAT = ?
     , REPEAT_DATE = SYSDATE
 WHERE SERVICE_NO = ?
   AND STATUS = 'Y'
</entry>


<!-- 김민정 고객센터 게시글 삭제 -->
<!-- 위의 deleteServiceBoard 와 중복 
<entry key="deleteServiceBoardTR">
UPDATE MZYM_SERVICE
   SET STATUS = 'N'
 WHERE SERVICE_NO = ?
</entry>
-->

</properties>
