<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>고객 센터 페이지</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

    <link href="/src/main/webapp/resources/css/leeyechan/trailnerLee.css" rel="stylesheet" type="text/css">
    <script src="/src/main/webapp/resources/js/trailnerLee.js" rel="javascript"></script>


    <style>
        /* 고객센터 추가적 스타일 */
        /* 공지사항이라는 위치를 알리기 위한 배경색 */
        .board-out>#customer{
            background-color: rgba(26, 188, 156, 0.2);
        }
        .boardNav{
            display: none;
        }
        .boardNav>.boardFree{
            background-color: rgba(26, 188, 156, 0.2);
        }
        /* 답변 작성 쪽 최소 높이 및 정렬 , 박스모양 */
        .repeat{
            border: 1px solid rgb(224, 224, 224);
            min-height: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        /* 글 내용 조회시 글자가 너무 작아서 글자 크기 변경 */
        p{
            font-size: 13px;
        }
        tfoot{
            height: 100px;
        }
        

    </style>

</head>
<body>
   <table id="outTable">
        
        <thead class="">
            <td class="section1" id="back"><img src="/src/main/webapp/resources/img/icon/back-igon-32x24.png" alt="뒤로가기"></td>
            <td class="section2" id="logo"><img src="/src/main/webapp/resources/img/icon/logo-sm-170x100.png" alt="로고"></td>
            <td class="section3"></td>
        </thead>
        
        <tr style="height: 30px;"></tr>

        <tbody>
            <td class="section1" id="menu">
                <div id="adi">관리자<br>xxx</div>
                <div class="board-out">
                    <div id="board">게시판</div>

                    <div class="boardNav" style="margin-top: 0px;">
                        <div class="boardNotice"><a href="">공지사항</a></div>
                        <div class="boardFree"><a href="">자유게시판</a></div>
                        <div class="boardQuestion"><a href="">질문게시판</a></div>
                        <div class="boardReview"><a href="">PT 및 헬스장 후기</a></div>
                        <div class="boardClass"><a href="">운동 모임</a></div>
                    </div>

                    <div id="counseling"><a href="">상담예약</a></div>
                    <div id="customer"><a href="">고객센터</a></div>
                    <div id="accusation"><a href="">신고</a></div>
                    <div class="suteOption" style="margin-top: 0;">
                        <div class="suteBoard"><a href="">게시글</a></div>
                        <div class="suteRrepeat"><a href="">답글</a></div>
                    </div>

                    <div id="calory"><a href="">칼로리</a></div>

                </div>
            </td>

            <td class="section2">
                <div>
                    <table id="boardcontent" class="table">
                        <tr id="theader" style="background-color: rgb(224, 224, 224);">
                            <th class="table-number">번호</th>
                            <th>카테고리</th>
                            <th class="table-title">제목</th>
                            <th>조회수</th>
                            <th>작성자</th>
                        </tr>


                    <form action="" method="">
                        <tr class="tr-title" data-toggle="collapse" data-target="#context1">
                            <td class="table-number" name="">1</td>
                            <td name="">[운동관련]</td>
                            <td class="table-title" name="">노래가 좋아요</td>
                            <td name="">임명웅</td>
                            <td>1561</td>
                        </tr>

                        <tr id="context1" class="collapse">
                            <td colspan="5">
                                <p style="min-height:150px; text-align: left; white-space: pre;" class="border rounded">
                                    게시글의 내용입니다
                                </p>
                                <hr>
                                <div><img src="" alt="미리보기입니다."></div>
                                <input type="file">
                                <hr>
                                <div class="repeat border rounded mx-auto">
                                    <div><b>관리자<br>xxx</b></div>
                                    <div style="width: 80%;"><input type="control" class="form-control" required></div>
                                    <button type="button" class="btn btn-outline-secondary btn-sm">답변</button>
                                </div>
                            </td>
                        </tr>
                    </form>
                    


                        <!-- 샘플데이터 -->
                        <tr>
                            <td class="table-number">2</td>
                            <td>[운동관련]</td>
                            <td class="table-title">노래하지마세요</td>
                            <td>머멍이</td>
                            <td>134</td>
                        </tr>
                        <tr>
                            <td class="table-number">3</td>
                            <td>[운동관련]</td>
                            <td class="table-title">노래하지마세요</td>
                            <td>머멍이</td>
                            <td>134</td>
                        </tr>
                        <tr>
                            <td class="table-number">4</td>
                            <td>[운동관련]</td>
                            <td class="table-title">노래하지마세요</td>
                            <td>머멍이</td>
                            <td>134</td>
                        </tr>
                        <tr>
                            <td class="table-number">5</td>
                            <td>[운동관련]</td>
                            <td class="table-title">노래하지마세요</td>
                            <td>머멍이</td>
                            <td>134</td>
                        </tr>
                        <tr>
                            <td class="table-number">6</td>
                            <td>[운동관련]</td>
                            <td class="table-title">노래하지마세요</td>
                            <td>머멍이</td>
                            <td>134</td>
                        </tr>
                        <tr>
                            <td class="table-number">7</td>
                            <td>[운동관련]</td>
                            <td class="table-title">노래하지마세요</td>
                            <td>머멍이</td>
                            <td>134</td>
                        </tr>
                        <tr>
                            <td class="table-number">8</td>
                            <td>[운동관련]</td>
                            <td class="table-title">노래하지마세요</td>
                            <td>머멍이</td>
                            <td>134</td>
                        </tr>
                        <tr>
                            <td class="table-number">9</td>
                            <td>[운동관련]</td>
                            <td class="table-title">노래하지마세요</td>
                            <td>머멍이</td>
                            <td>134</td>
                        </tr>
                        <tr>
                            <td class="table-number">10</td>
                            <td>[운동관련]</td>
                            <td class="table-title">노래하지마세요</td>
                            <td>머멍이</td>
                            <td>134</td>
                        </tr>
                        <!-- 샘플데이터 -->

                    </table>
                </div>
            </td>
            <td class="section3"></td>
        </tbody>

        <tfoot>
            <td class="section1" style="background-color: rgb(224, 224, 224);"></td>
            <td class="section2" id="paging" >
                <ul class="pagination" >
                    <li class="page-item"><a class="page-link" href="#">이전</a></li>

                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>

                    <li class="page-item"><a class="page-link" href="#">다음</a></li>
                </ul>
            </td>
            
            <td class="section3">
                <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#deletModal" >삭제</button>
                 
            </td>
        </tfoot>
   </table>

<!-- 삭제용 모달 -->
<div class="modal" id="deletModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h3 class="modal-title">게시물 삭제</h3>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body" style="text-align: center; font-size: 15px; ">
            게시물을 정말로 삭제 하시겠습니까?
        
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary btn-sm" data-dismiss="modal">취소</button>
            <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">확인</button>
        </div>
  
      </div>
    </div>
  </div>

</body>
</html>