<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항 페이지</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>


    <link href="/src/main/webapp/resources/css/leeyechan/trailnerLee.css" rel="stylesheet" type="text/css">
    <script src="/src/main/webapp/resources/js/trailnerLee.js" rel="javascript"></script>

    <style>
         /* 공지사항 추가 스타일 */
         .board-out>#board{
            background-color: rgba(26, 188, 156, 0.2);
        }
        .boardNav{
            display: block;
        }
        .boardNav>.boardNotice{
            background-color: rgba(26, 188, 156, 0.2);
        }
        /* 공지사항 첨부파일 정렬 */
        .formOut{
            display: flex; 
            justify-content: space-between;
        }
        tfoot{
            height: 100px;
        }
        .picture{
            height: 300px;
            padding: 5px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            background-attachment: scroll; 
            margin: auto;
        }
    </style>
    
</head>
<body>
   <table id="outTable">
        
        <thead class="">
            <td class="section1" id="back"><img src="/src/main/webapp/resources/img/icon/back-igon-32x24.png" alt="뒤로가기"></td>
            <td class="section2" id="logo"><img src="/src/main/webapp/resources/img/icon/logo-sm-170x100.png" alt="로고"></td>
            <td class="section3"></td>
        </thead>
        
        <tr style="height: 30px;"></tr>

        <tbody>
            <td class="section1" id="menu">
                <div id="adi">관리자<br>xxx</div>
                <div class="board-out">
                    <div id="board">게시판</div>

                    <div class="boardNav" style="margin-top: 0px;">
                        <div class="boardNotice"><a href="">공지사항</a></div>
                        <div class="boardFree"><a href="">자유게시판</a></div>
                        <div class="boardQuestion"><a href="">질문게시판</a></div>
                        <div class="boardReview"><a href="">PT 및 헬스장 후기</a></div>
                        <div class="boardClass"><a href="">운동 모임</a></div>
                    </div>

                    <div id="counseling"><a href="">상담예약</a></div>
                    <div id="customer"><a href="">고객센터</a></div>
                    <div id="accusation"><a href="">신고</a></div>
                    <div class="suteOption" style="margin-top: 0;">
                        <div class="suteBoard"><a href="">게시글</a></div>
                        <div class="suteRrepeat"><a href="">답글</a></div>
                    </div>

                    <div id="calory"><a href="">칼로리</a></div>

                </div>
            </td>

            <td class="section2">
                <div>
                    <table id="boardcontent" class="table">
                        <tr id="theader" style="background-color: rgb(224, 224, 224);">
                            <th class="table-number">번호</th>
                            <th class="table-title">제목</th>
                            <th>조회수</th>
                            <th>작성자</th>
                        </tr>


                    <form action="" method="">
                        <tr class="tr-title" data-toggle="collapse" data-target="#context1"> <!--반복문 !! -->
                            <td class="table-number" name="">1</td>
                            <td class="table-title" name="">샤워기 호수 관련 공지글</td>
                            <td name="">임명웅</td>
                            <td>1561</td>
                        </tr>

                        <tr id="context1" class="collapse">
                            <td colspan="5">
                                <div>
                                    <p class="border"> 국가는 재해를 예방하고 그 위험으로부터 국민을 보호하기 위하여 노력하여야 한다. 
                                        농업생산성의 제고와 농지의 합리적인 이용을 위하거나 불가피한 사정으로 발생하는 농지의 임대차와 위탁경영은 법률이 정하는 바에 의하여 인정된다.

                                        대통령은 조약을 체결·비준하고, 외교사절을 신임·접수 또는 파견하며, 선전포고와 강화를 한다. 선거에 있어서 최고득표자가 2인 이상인 때에는 국회의 재적의원 과반수가 출석한 
                                        공개회의에서 다수표를 얻은 자를 당선자로 한다.
                                        
                                        헌법재판소 재판관의 임기는 6년으로 하며, 법률이 정하는 바에 의하여 연임할 수 있다. 모든 국민은 행위시의 법률에 의하여 범죄를 구성하지 아니하는 행위로 소추되지 아니하며, 
                                        동일한 범죄에 대하여 거듭 처벌받지 아니한다.
                                        
                                        국회의원의 수는 법률로 정하되, 200인 이상으로 한다. 사회적 특수계급의 제도는 인정되지 아니하며, 어떠한 형태로도 이를 창설할 수 없다. 헌법재판소는 법률에 저촉되지 아니하는 
                                        범위안에서 심판에 관한 절차, 내부규율과 사무처리에 관한 규칙을 제정할 수 있다.
                                        리한 진술을 강요당하지 아니한다.</p>

                                    <div class="picture img1" onclick="pictureFile(1)">사진등록 <br> 클릭해 보세요.</div>
                                    <div class="formOut">
                                        <input type="file" name="file">
                                        <button type="submit" class="btn btn-outline-warning btn-sm">수정</button>
                                    </div>
                                    <div style="display: none;">
                                        <input type="file" class="picture1" onchange="imaging(1)">
                                    </div>

                                </div>
                            </td>
                        </tr>
                    </form>
                    
                    <script>
                        function pictureFile(index){
                            $(".picture"+index).click();
                        }

                        function imaging(index){
                            const file = window.event.target.files[0];
                            // console.log(window.event.target.files[0] != null);
                            // console.log(file);

                            if(file != null){
                                const read = new FileReader();

                                read.readAsDataURL(file);

                                read.onload = function(e){
                                    console.log(".img"+index)
                                    $(".img"+index).css("background-image", 'url('+ e.target.result +')');
                                    $(".img"+index).text("");
                                }
                            } else {
                                $(".img" + index).css("background-image", 'none');
                            }
                        }

                    </script>


                        <!-- 샘플데이터 -->
                        <tr>
                            <td class="table-number">2</td>
                            <td class="table-title">노래하지마세요</td>
                            <td>머멍이</td>
                            <td>134</td>
                        </tr>
                        <tr>
                            <td class="table-number">3</td>
                            <td class="table-title">노래하지마세요</td>
                            <td>머멍이</td>
                            <td>134</td>
                        </tr>
                        <tr>
                            <td class="table-number">4</td>
                            <td class="table-title">노래하지마세요</td>
                            <td>머멍이</td>
                            <td>134</td>
                        </tr>
                        <tr>
                            <td class="table-number">5</td>
                            <td class="table-title">노래하지마세요</td>
                            <td>머멍이</td>
                            <td>134</td>
                        </tr>
                        <tr>
                            <td class="table-number">6</td>
                            <td class="table-title">노래하지마세요</td>
                            <td>머멍이</td>
                            <td>134</td>
                        </tr>
                        <tr>
                            <td class="table-number">7</td>
                            <td class="table-title">노래하지마세요</td>
                            <td>머멍이</td>
                            <td>134</td>
                        </tr>
                        <tr>
                            <td class="table-number">8</td>
                            <td class="table-title">노래하지마세요</td>
                            <td>머멍이</td>
                            <td>134</td>
                        </tr>
                        <tr>
                            <td class="table-number">9</td>
                            <td class="table-title">노래하지마세요</td>
                            <td>머멍이</td>
                            <td>134</td>
                        </tr>
                        <tr>
                            <td class="table-number">10</td>
                            <td class="table-title">노래하지마세요</td>
                            <td>머멍이</td>
                            <td>134</td>
                        </tr>
                        <!-- 샘플데이터 -->

                    </table>
                </div>
            </td>
            <td class="section3"></td>
        </tbody>
        <!-- tfoot : 페이징 바 및 작성 과 삭제 버튼 영역 -->
        <tfoot>
            <td class="section1" style="background-color: rgb(224, 224, 224);"></td>
            <td class="section2" id="paging" >
                <ul class="pagination" >
                    <li class="page-item"><a class="page-link" href="#">이전</a></li>

                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>

                    <li class="page-item"><a class="page-link" href="#">다음</a></li>
                </ul>
            </td>
            
            <td class="section3 ">
                <button type="button" class="btn btn-outline-success btn-sm" data-toggle="modal" data-target="#myModal">작성</button>
                <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#deletModal" >삭제</button>
            </td>
        </tfoot>
        <!-- tfoot :  페이징 바 및 작성 과 삭제 버튼 영역 -->
   </table>

   
</body>




<!-- 삭제용 모달 -->
<div class="modal" id="deletModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h3 class="modal-title">게시물 삭제</h3>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body" style="text-align: center; font-size: 15px; ">
            게시물을 정말로 삭제 하시겠습니까?
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary btn-sm" data-dismiss="modal">취소</button>
            <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">확인</button>
        </div>
      </div>
    </div>
  </div>
  
<!-- 작성용 모달 -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-create">
            <form action="">
                <!-- Modal Header -->
                <div class="modal-header-create">
                <h3 class="modal-title text-center" id="creat-modal-header">공지사항</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <br>
                <!-- Modal body -->
                <div class="modal-body-create">
                    <div class="hair-careate"><input type="text" placeholder="제목 입력"></div>
                    <hr>
                    <div class="bottom-create"><textarea name="" cols="30"  rows="20" placeholder="글입력" style="resize: none;"></textarea></div>
                <!-- 큰모달창 일 경우 cols="55" -->
                    <hr>

                    <div class="picture img20" onclick="pictureFile(20)">사진등록 <br> 클릭해 보세요.</div>
                    <br><br>
                    <div class="formOut">
                        <input type="file" name="file">
                        <button type="submit" class="btn btn-outline-warning btn-sm">수정</button>
                    </div>
                    <div style="display: none;">
                        <input type="file" class="picture20" onchange="imaging(20)">
                    </div>
                </div>
                <br>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-success btn-sm" data-dismiss="modal">작성</button>
                    <button type="button" class="btn btn-outline-secondary btn-sm" data-dismiss="modal">취소</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>


</html>