<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>시설소개 페이지</title>
    <link rel="icon" href="images/favicon.png">
     <!--부트 스트랩 및 제이쿼리-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <!--이미지 스크립트 링크-->
    <link rel="stylesheet" href="/src/main/webapp/resources/css/common/MYZM.css">
    <script src="/src/main/webapp/resources/js/MYZM.js"></script>
    
  </head>
  <style>
   
    

    .FacilityPage_content{ /*메인 영역*/
    border: 2px solid #1ABC9C;
    width: 100%;
    height: 100%;
    margin: auto;
    margin-top: 50px;
    min-height: 1200px;
    padding: 50px;
    border-radius: 10px;
  }
  .FacilityPage_content > div {
    flex: 1;
    margin: 20px;
}
.pageTitle{
    height: 20%;
    position: relative;
    
}
.text-overlay {
      position: absolute;
      top: 50%;
      left: 80%;
      transform: translate(-50%, -50%);
      color: white;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      width: 50%;
    
    }
.pageTitle img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
   
}
.addressArea{
    height: 10%;
    flex-wrap: nowrap;
    font-size: 30px;
    border-bottom: 4px solid #e0e0e0;
}

.contentArea{
    height: 20%;
}
.informationArea{
  width: 100%;
  min-height: 800px;
  display:inline-block;
  
}
.informationItem{
  min-height: 250px;
  margin: 50px auto;
  padding: 10px;
  border-radius: 15px;
  background-color: #e0e0e0;
  display: flex;
}
.itemImg{
  width: 20%;
  margin: 20px;
  border-radius: 10px;
}
.itemImg img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이미지를 확대 또는 축소하여 해당 요소에 맞춥니다. */
  border-radius: 10px;
}
.itemContent{
  width: 70%;
  margin: 20px;
 
  border-radius: 10px;
  background-color: #1ABC9C;
  color: white;
  font-weight: bold;
}
.itemContent > *{
  margin: 20px;
}
h3{
  text-align: left;
}
.itemContent li{
 list-style-type: decimal; 
 margin-top: 20px;
 font-size: 20px;
}
  </style>
<body>
     
    <div class="wrap">
    <!--header start-->   
    <header class="header-top-section">
        <div>
            <div>
                <div class="header_roop">
                    <div class="etc_Section">
                        <table class="Login_section">
                         <!--
                            <tr>
                                <td><a href="#" class="btn btn-secondary btn-sm icon">로그인</a></td>
                                <td><a href="#" class="btn btn-secondary btn-sm icon">회원가입</a></td>
                                <td><a href="#" class="btn btn-secondary btn-sm icon">마이페이지</a></td>
                            </tr>
                          -->
                          
                            <tr>
                              <td><div class="afterLogin">사용자 님 환영합니다~</div></td>
                              <td><a href="#" class="btn btn-secondary btn-sm icon">로그아웃</a></td>
                              <td><a href="#" class="btn btn-secondary btn-sm icon">마이페이지</a></td>
                          </tr>
                        
                        </table>
                    </div>
                    <div class="Search_section">
                        <div class="Search_area">
                            <img src="/src/main/webapp/resources/img/common/검색 아이콘.PNG" style="height: 20px; margin-right: 5px;">
                            <input type="search" placeholder="검색어를 입력하세요">
                            
                        </div>
                    </div>
                    <div class="SearchText_section">
                        
                        <div class="Search_area2"><span style="font-size: 15px; color: gray; font-weight: bold;">인기 검색어 :</span>
                        <span style="font-size: 18px;">오운완 | 운동 루틴 | 헬스 후기</span>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
           
                
        <nav class="header_nav">
           
            <div class="menu_logo" id="homelogo">
                <a href=""><img src="/src/main/webapp/resources/img/common/캡처.jpg" style="width: 100px;"></a>
                
              </div>
              
            <div class="menu_item" onmouseover="showTable();" onmouseout="hideTable();">
            <a href="" class="community" >커뮤니티</a>
                
                  <div class="sub_menu" id="menu1">
                    <ul class="sub">
                      <li><a>공지사항</a></li>
                      <li><a>자유게시판</a></li>
                      <li><a>질문게시판</a></li>
                      <li><a>헬스장후기</a></li>
                      <li><a>운동모임</a></li>
                    </ul>
                  </div>
                
            </div> 
   
            <div class="menu_item">
              <a href="" class="community">상품구매</a>
            </div>
            <div class="menu_item" onmouseover="showTable1();" onmouseout="hideTable1();">
              <a href="" class="community">헬스장 안내</a>
              
                <div class="sub_menu" id="menu2">
                  <ul class="sub">
                    <li><a>헬스장위치</a></li>
                    <li><a>시설 안내</a></li>
                  </ul>   
                </div>   
              
            </div>
            <div class="menu_item">
              <a href="" class="community">추천운동영상</a>
            </div>
            <div class="menu_item">
              <a href="" class="community">고객센터</a>
            </div>
            <div class="menu_item">
              <a href="" class="community">상담예약</a>
            </div>     
        </nav>
        <span class="main_text"><h1>MZYM</h1></span>
    </header>

    <!--headr end-->
  

    

      <!--section start-->    
      <section class="main_content">

      <!--sidebar start-->
     <div class="sidebar" id="quickmenu">
      <nav class="col-sm-7 sidenav">
        
          <ul class="nav nav-pills nav-justified">
            <li><a><img src="/src/main/webapp/resources/img/common/스크롤 업.png" style="width: 50px; height: 50px;" onclick="scrollToTop();"></a></li>
            <li><a href="#" class="btn btn-secondary btn-sm horizontal-btn">공지사항</a></li>
            <li><a href="#" class="btn btn-secondary btn-sm horizontal-btn">자유게시판</a></li>
            <li><a href="#" class="btn btn-secondary btn-sm horizontal-btn">질문게시판</a></li>
            <li><a href="https://www.facebook.com" target="_blank"><img src="/src/main/webapp/resources/img/common/facebook.png" style="width: 50px; height: 50px"></a></li>
            <li><a href="https://www.instagram.com" target="_blank"><img src="/src/main/webapp/resources/img/common/instagram.png" style="width: 50px; height: 50px"></a></li>
            <li><a><img src="/src/main/webapp/resources/img/common/스크롤 다운.png" style="width: 50px; height: 50px;" onclick="scrollToBottom();"></a></li>
          </ul>
        </nav>
     </div>
    <!--sidebar end-->

      <!--메인 컨텐츠 내용 --> 
        <div class="FacilityPage_content">
            <div class="pageTitle">
                <img src="/src/main/webapp/resources/img/common/제목 배경사진.png">
                <div class="text-overlay">
                    <h1>Mzym 운동시설 소개</h1>
                </div>
            </div>
            <div class="addressArea"><span style="font-size: 40px; font-weight: bold;">시설 소개</span></div>
           
            <div class="contentArea">
                <div class="contentField">서울 금천구에 위치한 MYZE은 쾌적하고 넓은 운동공간과 세련되고 깔끔한 인테리어 디자인, 개별부스 샤워시설 및 깔끔한 파우더룸, 12대 이상의 파워렉과 뉴텍 토쳐 머신이 준비된 프리미엄 피트니스 센터입니다.</div>
            </div>
            <div class="informationArea">
                <div class="informationItem">  
                  <div class="itemImg"><img src="/src/main/webapp/resources/img/common/시설소개_유산소운동존.png"></div>
                  <div class="itemContent">
                    <h3>유산소 운동 zone</h>
                      <ul>
                        <li>넷플릭스등 OTT 시청이 가능한 최신식 런닝머신</li>
                        <li>고가의 천국의 계단, 사이클 머신 다수 보유</li>
                        <li>안정적인 기동성과 관절에 부담이 적은 인체 공학 설계로 안전한 트레이닝 머신</li>
                      </ul>
                  </div>
                </div>
                <div class="informationItem"> 
                  <div class="itemImg"><img src="/src/main/webapp/resources/img/common/시설소개_프리웨이트운동존.png"></div>
                  <div class="itemContent">
                    <h3>프리웨이트 운동 zone</h>
                      <ul>
                        <li>운동하기 최적화된 동선을 짜기 위해 
                          렉 전용 프리 웨이트
                          덤벨 전용 프리웨이트존을
                          각각 운용</li>
                        <li>평, 인클라인 벤치를 이용하여 
                          다양한 종류의 덤벨 응용 운동도 가능
                          정면, 측면에 큰 전신거울 설치</li>
                        <li>초보자를 위한 10kg 저중량 덤벨부터 숙련자를 위한 60kg 덤벨까지 다양한 무게 구비</li>
                      </ul>
                  </div>
                </div>
                <div class="informationItem">
                  <div class="itemImg"><img src="/src/main/webapp/resources/img/common/시설소개-스트레칭존.png"></div>
                  <div class="itemContent">
                    <h3>스트레칭 운동 zone</h>
                      <ul>
                        <li>운동전 오직 스트레칭만을 위해 넓은 장소의 스트레칭존 운영중</li>
                        <li>부족하지 않도록 다양한 여분 매트와 소도구 구비</li>
    
                      </ul>
                  </div>
                </div>
            </div>
         
        </div> 
      </section>
      <!--section end-->

    <!--footer start--> 
    <footer>
        <div class="sidebarEnd"></div>
        <div class="footer_company">
            <ul>
                <li>상호명 : MZYM</li>
                <li>전화 : 02) 2696-8000</li>
                <li>서울특별시 금천구 가산디지털2로 95 3층</li>
            </ul>
        </div>

        <ul class="footer_copyright">
            Copyright ⓒ <span style="color: #1ABC9C;">M</span>ZYM. All rights reserved.
        </ul>
    </footer>
    <!--footer end-->
  
    </div>
    
</body>
</html>